@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,600,700');

html {
  background-color: #388697;
}

body {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  -ms-align-items: center;
  align-items: center;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
}

.action {
  display: none;
}

p {
  border-radius: 0 10px 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.94;
  color: #0b314a;
  padding: 10px;
  align-self: flex-start;
  margin: 5px;
  max-width: 70%;
}

.answer {
  background-color: #b5ffe1;
  border-radius: 10px 10px 0 10px;
  align-self: flex-end;
  text-align: right;
}

.amen {
  font-family: 'Lobster', cursive;
  background-color: transparent;
  padding: 0;
  color: #a9ffda;
  -ms-align-self: center;
  align-self: center;
  box-shadow: none;
  margin-top: 20px;
  font-size: 24px;

}

.back {
  /*  border: 1px solid #000;*/
  width: 4em;
  height: 4em;
  display: block;
  margin: 0 auto;
  background: url('../images/close.png') center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  color: transparent;
  margin: 20px;
}

/*
.back a {
  color: aqua;
  text-decoration: none;
}
*/
