/* Import Google font */
@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,700');

/* Coolors Exported Palette - coolors.co/
cdf7f6-8fb8de-9a94bc-9b5094-6a605c 
AERO BLUE - DARK SKY BLUE - MANATEE - PURPUREUS - GRANITE GRAY
https://coolors.co/cdf7f6-8fb8de-9a94bc-9b5094-6a605c


 HSL 
$color1: hsla(179%, 72%, 89%, 1);
$color2: hsla(209%, 54%, 72%, 1);
$color3: hsla(249%, 23%, 66%, 1);
$color4: hsla(306%, 32%, 46%, 1);
$color5: hsla(17%, 7%, 39%, 1);

 RGB 
$color1: rgba(205, 247, 246, 1);
$color2: rgba(143, 184, 222, 1);
$color3: rgba(154, 148, 188, 1);
$color4: rgba(155, 80, 148, 1);
$color5: rgba(106, 96, 92, 1);

*/

/* GENERAL STYLE */

body {
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #555;
  width: 85%;
  margin: 80px auto 20px;
  
}

#banner {
  background-color: #3A3533;
  width: 100%;
  margin: 0 auto;
  color: #CDF7F6;
  padding: 8px 25px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  text-align: right;
  box-sizing: border-box;
  z-index: 5;
}

#villancicos {
  box-sizing: border-box;
  width: 100%;
  background-color: #8FB8DE;
  padding: 7px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: right;
}

#villancicos a {
  text-decoration: none;
  color: #CDF7F6;
}

#villancicos a::after {
  content: "";
  display: inline-block;
  /* By using an em scale, the arrows will size with the font */
  width: 0.4em;
  height: 0.4em;
  border-right: 0.15em solid #CDF7F6;
  border-top: 0.15em solid #CDF7F6;
  transform: rotate(45deg);
  margin-left: 0.2em;
}

.test {
  position: relative;
}

.title {
  background-color: #9a94bc;
  width: 100%;
  margin: 0 auto;
  color: white;
  padding: 8px 25px;
  position: fixed;
  top: 40px;
  left: 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  text-align: right;
  box-sizing: border-box;
  z-index: 4;
  display: none;
}

h2 {
  background-color: #9a94bc;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 8px 25px;
  box-sizing: border-box;
  color: white;
  font-weight: 300
}