h1 {
  color: var(--orange);
  background: transparent url(../_icons/consideraciones.svg) no-repeat center 7vh;
  -webkit-background-size: 20vh;
  background-size: 20vh;
  font-size: 1.8em;
  line-height: 2.5rem;
}

.hero {
  background-color: var(--red);
}

h2 {
  color: var(--orange);
}

body {
  color: var(--red);
}



/*-----     CONTENT     -----*/

.chamfer {
  background: url(../_images/chamfer_red.png);
  -webkit-background-size: 100%;
}



/*-----     FOOTER     -----*/

.next {
  background: transparent url(../_images/chamfer_white_o_orange.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding-top: 53px;
}

.next a {
  font-size: 1.6rem;
}

.date-header {
  color: var(--orange);
  background-color: var(--red);
}
