/*-----     HEADER     -----*/

.date-header {
  color: var(--pink);
  background-color: var(--purple);
}

.hero {
  background-color: var(--purple);
}

h1 {
  color: var(--pink);
  background: transparent url(../_images/gozos.svg) no-repeat center 7vh;
  -webkit-background-size: 25vh;
  background-size: 25vh;
}



/*-----     CONTENT     -----*/

.chamfer {
  background: url(../_images/chamfer_purple@2x.png);
  -webkit-background-size: 100%;
}

p {
  position: relative;
  z-index: 1;
  color: var(--purple);
}

article p:nth-of-type(3n + 2),
article p:last-of-type {
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  background: transparent url(../_images/gozos.svg) no-repeat center center;
  -webkit-background-size: 100px;
  background-size: 100px;
  z-index: 4;
}

article p:nth-of-type(2) {
  background-color: var(--purple);

}

article p:nth-of-type(3n + 2)::before,
article p:last-of-type::before {
  content: "";
  display: block;
  background: transparent url(../_images/chamfer_white_o_purple@3x.png) top center no-repeat;
  width: 100vw;
  height: 102px;
  position: absolute;
  left: -10vw;
  top: -80px;
  -webkit-background-size: 100%;
  padding-bottom: 10px;
  z-index: -5;
}

article p:nth-of-type(3n + 2)::after,
article p:last-of-type::after {
  content: "";
  display: block;
  background: transparent url(../_images/chamfer_white_o_purple@3x.png) top center no-repeat;
  width: 100vw;
  height: 112px;
  position: absolute;
  left: -10vw;
  -webkit-background-size: 100%;
  transform: rotate(180deg);
  top: 20px;
  z-index: -5;
}

/*-----     FOOTER     -----*/

.next:last-of-type {
  background-color: var(--lila);
  background: transparent url(../_images/chamfer_white_o_lila@1x.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding-bottom: 10px;
  z-index: 5;
}
