html {
  background-color: var(--purple);
}


/*-----     HEADER     -----*/

.date-header {
  color: var(--pink);
  background-color: var(--purple);
  max-width: 400px;

  margin: 0 auto;
}

.hero {
  background-color: var(--purple);
}

h1 {
  color: var(--pink);
  background: transparent url(../_icons/gozos.svg) no-repeat center 7vh;
  -webkit-background-size: 25vh;
  background-size: 25vh;
  max-width: 400px;
  margin: 0 auto;

}



/*-----     CONTENT     -----*/

article {
  max-width: 400px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  padding-bottom: 60px;
}

p {
  border-radius: 0 10px 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  color: #322F60;
  padding: 10px;
  align-self: flex-start;
  margin: 5px;
  max-width: 70%;
}

p:nth-of-type(3n + 2),
p:last-of-type {
  background-color: var(--pink);
  border-radius: 10px 10px 0 10px;
  align-self: flex-end;
  text-align: right;
  font-style: italic;
  color: white;
}


/*-----     FOOTER     -----*/

.next.down {
  background-color: var(--pink);
  background: transparent url(../_images/chamfer_purple_o_white.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding-top: 55px;
  z-index: 5;
}

.next {
  line-height: 1.1em;
}

.next a {
  color: var(--pink);
  font-size: 1.6rem;
}

.next a::after {
  border-color: var(--pink);
}
