body {
  color: var(--purple);
}

/*-----     HEADER     -----*/

.date-header {
  color: var(--pink);
  background-color: var(--purple);
}

.hero {
  background-color: var(--purple);
}

h1 {
  color: var(--pink);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  -ms-align-items: center;
  align-items: center;
  padding: 30px 0 0 0;
}

h1 span:first-of-type {
  font-size: 4rem;
  line-height: 3rem;
}

h1 span:last-of-type {
  font-size: 2rem;
}



/*-----     CONTENT     -----*/

.chamfer {
  background: url(../_images/chamfer_purple.png);
  -webkit-background-size: 100%;
}

.o_todos_los_dias h2,
.o_todos_los_dias .amen,
.list h2 {
  color: var(--pink);
}

.o_todos_los_dias h2 {
  padding-top: 100px;
  background: transparent url(../_images/down_arrow.svg) center 35px no-repeat;
  -webkit-background-size: 30px;
  background-size: 30px;
}

h2 {
  padding-top: 40px;
}


/*-----     FOOTER     -----*/

.next.down {
  /*  background-color: var(--purple);*/
  background: transparent url(../_images/chamfer_white_o_pink.png) top center no-repeat;
  -webkit-background-size: 100%;
}



/*-----     ALMOST     -----*/

.almost {
  position: relative;
}

.almost .day {
  width: 100vw;
  height: 60vh;
  min-height: 250px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  color: white;
  background-color: var(--purple);
}

.almost #pie {
  width: 100vw;
  height: 60vh;
  min-height: 250px;
  position: absolute;
  left: 0;
  top: 0;
}

.almost .day span:first-of-type {
  /*  display: none;*/
  font-family: "Avenir Next UltraLight", sans-serif;
  font-size: 1.7rem;
  margin-top: .7rem;
}

.almost .day span:nth-of-type(2) {
  font-family: "Avenir Next Condensed UltraLight", sans-serif;
  font-size: 5rem;
  line-height: 4rem;
  /*  margin-top: 1rem;*/
  padding: 0;
}

.almost .day span:last-of-type {
  font-family: "Avenir Next UltraLight", sans-serif;
  font-size: 1.7rem;
}
