/*-----     FOOTER     -----*/

.next.up {
  background: transparent url(../_images/chamfer_white_o_pink_up.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding-top: 37px;
}

.next.down {
  background: transparent url(../_images/chamfer_pink_o_purple.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding-top: 35px;
}

article:last-of-type {
  margin-bottom: 150px;
}
