h1 {
  background: transparent url(../_icons/o_divino_nino.svg) no-repeat center 7vh;
}

/*-----     CONTENT     -----*/

article:last-of-type {
  margin-bottom: 150px;
}



/*-----     FOOTER     -----*/

.next.up {
  background: transparent url(../_images/chamfer_white_o_lila_up.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding-top: 40px;
}

.next.down {
  background: var(--purple) url(../_images/chamfer_lila_o_dark_blue.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding-top: 35px;
}

.next.down a {
  color: white;
}

.next.down a::after {
  border-color: white;
}

/*

