h1,
h2,
.amen,
.date-header {
  color: var(--lila);
}

.hero,
.date-header {
  background-color: var(--dark_blue);
}

body {
  color: var(--dark_blue);
}




/*-----     CONTENT     -----*/

.chamfer {
  background: url(../_images/chamfer_dark_blue.png);
  -webkit-background-size: 100%;
}


.pray_link {
  color: var(--lila);
  border-color: var(--lila);
}

/*-----     FOOTER     -----*/

.next {
  background: transparent url(../_images/chamfer_white_o_lila.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding-top: 50px;
}

.next a {
  color: var(--dark_blue);
}

.next a::after {
  border-color: var(--dark_blue);
}
