/*-----     COLORS     -----*/

:root {
  --purple: #6E27AC;
  --pink: #E106AA;
}


/*-----     FONTS     -----*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,500i,600');

@font-face {
  font-family: 'Avenir Next Condensed DemiBold';
  src: url('../_fonts/ancdb.ttf');
}

@font-face {
  font-family: 'Avenir Next Condensed Medium';
  src: url('../_fonts/ancm.ttf');
}

@font-face {
  font-family: 'Avenir Next Condensed UltraLight';
  src: url('../_fonts/ancul.ttf');
}

@font-face {
  font-family: 'Avenir Next UltraLight';
  src: url('../_fonts/anul.ttf');
}


/*-----     GENERAL     -----*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  min-width: 300px;
  margin-bottom: 70px;
}

article {
  padding: 10px 10vw;
}

h2 {
  font-family: 'Avenir Next Condensed';
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.amen {
  font-family: "Avenir Next Condensed";
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}


/*-----     HEADER     -----*/

#banner {
  position: relative;
}

.day {
  width: 100vw;
  height: 60vh;
  min-height: 250px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  color: white;
  background-color: var(--purple);
  /*  background: var(--purple) url(../_images/missing_days.png) center center no-repeat;*/
}

#pie {
  width: 100vw;
  height: 60vh;
  min-height: 250px;
  position: absolute;
  left: 0;
  top: 0;
}

.day span:first-of-type {
  display: none;
}

.day span:nth-of-type(2) {
  font-family: "Avenir Next Condensed UltraLight", sans-serif;
  font-size: 5rem;
  line-height: 4rem;
  margin-top: 1rem;
  padding: 0;
}

.day span:last-of-type {
  font-family: "Avenir Next UltraLight", sans-serif;
  font-size: 2rem;
}

.hero {
  background-color: var(--purple);
}


h1 {
  text-transform: uppercase;
  color: var(--pink);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  font-family: 'Avenir Next Condensed Medium';
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  padding: 30px 0 0 0;
}

h1 span:first-of-type {
  font-size: 4rem;
  line-height: 3rem;
}

h1 span:last-of-type {
  font-size: 2rem;
}

/* check if consideraciones is general */

.pray_link,
.consideraciones a {
  padding: 3px 15px;
  font-weight: 500;
  line-height: 3rem;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 19.5px;
}



/*-----     CONTENT     -----*/

.o_todos_los_dias h2,
.o_todos_los_dias .amen,
.consideraciones h2 {
  color: var(--pink);
}

.o_todos_los_dias h2 {
  padding-top: 150px;
  background: transparent url(../_images/down_arrow.png) center 70px no-repeat;
}

.o_todos_los_dias p {
  color: var(--purple);
}

.o_todos_los_dias .pray_link,
.consideraciones a {
  color: var(--pink);
  border-color: var(--pink);
}

.consideraciones ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
}

.consideraciones li {
  margin-right: 5px;
}


/*-----     FOOTER     -----*/

#villancicos {
  display: none;
  box-sizing: border-box;
  background-color: var(--purple);
  /*  background: var(--purple) url(../public/_images/chamfer_white@3x.png) top center no-repeat;*/
  background: transparent url(../_images/chamfer_white_o_purple@3x.png) top center no-repeat;
  -webkit-background-size: 100%;
  padding: 60px 25px 15px;
  width: 100vw;
  min-width: 300px;
  position: fixed;
  bottom: 0;
  text-align: right;
  font-family: "Avenir Next Condensed";
}

#villancicos a {
  font-size: 1.8rem;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

#villancicos a::after {
  content: "";
  display: inline-block;
  /* By using an em scale, the arrows will size with the font */
  width: 0.4em;
  height: 0.4em;
  border-right: 0.15em solid #FFFFFF;
  border-top: 0.15em solid #FFFFFF;
  transform: rotate(45deg);
  margin-left: 0.2em;
}
